 {% extends "Alumnos/base.html" %}

 {% block titulo %}Indice{% endblock %}

 {% block banner %}


 <h1 style="text-align:center;">Hola  este es el indice

   <a href="/admin" style="margin-right:10px; float:right">
    <i class="fas fa-users-cog">

    </i>
   </a>
 </h1>


 {% endblock %}

 {% block contenido %}
 <p style="text-align:center;">Este es el contenido de la pagina indice</p>

  <p style="text-align:center;">
  <a href="/resultado" style="font-size:2em; font-weight:bold;"> Ir al registro de alumnos </a>
  </p>
 {% endblock %}

